<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
	<link
	href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">
	<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script
	src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<!------ Include the above in your HEAD tag ---------->
	<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
	<script type="text/javascript" th:src="@{/main.js}"></script>
</head>
<body>
	<h1>Welcome to Toped Commerce!</h1>
	<a th:href="@{/logout}">LOGOUT</a>
	<p th:text="${session.user.username}"></p>
	<p th:if="${session.user.role} == 0">Admin</p>
	<p th:if="${session.user.role} == 1">Pembeli</p>
	<h3><a th:href="@{/store}">LIHAT STORE</a></h3>
	<button type="button" class="btn btn-primary" th:if="${session.user.role == 0}" data-toggle="modal" data-target="#addModal">Tambah Item</button>
	<table class="table table-striped table-responsive-md">
		<thead>
			<tr>
				<th>Name</th>
				<th>Stock</th>
				<th>Price</th>
				<th>Rating</th>
				<th>Sold</th>
				<th>Seen</th>
				<th>Weight</th>
				<th>Condition</th>
				<th>Category</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
	
			<tr th:each="item : ${items}">
				<td th:text="${item.item_name}"></td>
				<td th:text="${item.stock}"></td>
				<td th:text="${item.price}"></td>
				<td th:text="${item.rating}"></td>
				<td th:text="${item.sold}"></td>
				<td th:text="${item.seen}"></td>
				<td th:text="${item.itemDetail.weight}"></td>
				<td th:text="${item.itemDetail.condition}"></td>
				<td th:text="${item.itemDetail.insurance}"></td>
				<td> 
					<a  class="btn btn-warning" th:if="${session.user.role == 0}" th:href="@{'/item/getbyId/'+ ${item.id}}" id=editButton"" data-toggle="modal" data-target="#editModal">Edit</a>
					<a class="btn btn-danger" th:if="${session.user.role == 0}" th:href="@{'/item/delete/'+ ${item.id}}" id="deleteButton" data-toggle="modal" role="Button" data-target="#deleteModal">Delete</a>
					<a class="btn btn-primary" th:if="${session.user.role == 1}" th:href="@{'/item/getbyId/' + ${item.id}}" th:id="buyButton"  data-toggle="modal" data-target="#buyModal">Buy</a>
				</td>
			</tr>
		</tbody>		
	</table>
	
	<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<form th:action="@{/item/addNew}" th:method="post" th:object="${newItem}">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel">New Item</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">	
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">

	          <div class="form-group">
	            <label for="name" class="col-form-label">Item Name:</label>
	            <input type="text" class="form-control" id="name" th:name="name" th:field="*{item_name}">

	          </div>
	           <div class="form-group">
	            <label for="recipient-name" class="col-form-label">Stock:</label>
	            <input type="text" class="form-control" id="stock" th:name="stock" th:field="*{stock}">
	          </div>
	          
	           <div class="form-group">
	            <label for="recipient-name" class="col-form-label">Price:</label>
	            <input type="text" class="form-control" id="price" th:name="price" th:field="*{price}">
	          </div>
	          

	            <input type="hidden" class="form-control" th:value=0 th:name="sold" id="sold" th:field="*{sold}">
	        
	        

	            <input type="hidden" class="form-control" th:value=0 th:name="seen" id="seen" th:field="*{seen}">

	          
	           <div class="form-group">
	            <label for="recipient-name" class="col-form-label">Weight:</label>
	            <input type="text" class="form-control" id="weight" th:name="weight" th:field="*{itemDetail.weight}">
	          </div>
	          
	           <div class="form-group">
	            <label for="recipient-name" class="col-form-label">Condition:</label>
	            <input type="text" class="form-control" id="condition" th:name="condition" th:field="*{itemDetail.condition}">
	          </div>

	           <div class="form-group">
	            <label for="recipient-name" class="col-form-label">Insurance:</label>
	            <input type="text" class="form-control" id="insurance" th:name="insurance" th:field="*{itemDetail.insurance}">
	          </div>
	          
	          <div class="form-group">
	            <label for="recipient-name" class="col-form-label">Category:</label>
	            <input type="text" class="form-control" id="category" th:name="category" th:field="*{itemDetail.category}">
	          </div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	        <button type="Submit" class="btn btn-primary">Simpan</button>
	      </div>
	    </div>
	  </div>
	  </form>
	</div>
	
	
	<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<form th:action="@{/updateItem}" th:method="post" th:object="${newItem}">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel">Edit Item</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">	
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	      	<input type="hidden" th:field="*{id}" id="idEdit" disabled>
	          <div class="form-group">
	            <label for="name" class="col-form-label">Item Name:</label>
	            <input type="text" class="form-control" id="item_nameEdit" th:name="name" th:field="*{item_name}">

	          </div>
	           <div class="form-group">
	            <label for="recipient-name" class="col-form-label">Stock:</label>
	            <input type="text" class="form-control" id="stockEdit" th:name="stock" th:field="*{stock}">
	          </div>
	          
	           <div class="form-group">
	            <label for="recipient-name" class="col-form-label">Price:</label>
	            <input type="text" class="form-control" id="priceEdit" th:name="price" th:field="*{price}">
	          </div>
	          
	           <div class="form-group">
	            <label for="recipient-name" class="col-form-label">Sold:</label>
	            <input type="text" class="form-control" th:value=0 th:name="sold" id="soldedit" th:field="*{sold}" disabled>
				</div>
	          
	          <div class="form-group">
	            <label for="recipient-name" class="col-form-label">Seen:</label>  
	            <input type="text" class="form-control" th:value=0 th:name="seen" id="seenEdit" th:field="*{seen}" disabled>
			   </div>
	          
	           <div class="form-group">
	            <label for="recipient-name" class="col-form-label">Weight:</label>
	            <input type="text" class="form-control" id="weightEdit" th:name="weight" th:field="*{itemDetail.weight}">
	          </div>
	          
	           <div class="form-group">
	            <label for="recipient-name" class="col-form-label">Condition:</label>
	            <input type="text" class="form-control" id="conditionEdit" th:name="condition" th:field="*{itemDetail.condition}">
	          </div>

	           <div class="form-group">
	            <label for="recipient-name" class="col-form-label">Insurance:</label>
	            <input type="text" class="form-control" id="insuranceEdit" th:name="insurance" th:field="*{itemDetail.insurance}">
	          </div>
	          
	          <div class="form-group">
	            <label for="recipient-name" class="col-form-label">Category:</label>
	            <input type="text" class="form-control" id="categoryEdit" th:name="category" th:field="*{itemDetail.category}">
	          </div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	        <button type="Submit" class="btn btn-primary">Simpan</button>
	      </div>
	    </div>
	  </div>
	  </form>
	</div>
	
	
	<div class="modal fade" id="buyModal" tabindex="-1" aria-labelledby="buyModalLabel" aria-hidden="true">
	<form>
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel">Buy</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	      <input type="hidden" id="idBuy" >
	          <div class="form-group">
	            <label for="seen" class="col-form-label">Total Item</label>
	            <input type="text" id="totalBuy" class="form-control">
	          </div>
	          <div class="form-group">
	            <label for="rating" class="col-form-label">Rating:</label>
	            <input type="text" class="form-control" id="ratingBuy">
	          </div>
	    
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	        <button type="submit" class="btn btn-primary">Buy</button>
	      </div>
	    </div>
	  </div>
      </form>
	</div>
	
	<!--Delete  Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      Apakah anda yakin ingin menghapus?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <a href="" id="delRef" class="btn btn-primary">Ya. Hapus</a>
      </div>
    </div>
  </div>
</div>

<script>

</script>
</body>
</html>